body{
    margin: 0;
    padding: 0;

}
#app{
    background: url("/imagenes/WhatsApp\ Image\ 2022-02-25\ at\ 6.50.52\ PM.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#app::before{
content: "" ;
background: rgba(0, 0, 0, 0);
bottom: 0;
right: 0;
top: 0;
left: 0;
position: absolute;

}

#header{
    padding: 25px;
    position: relative;
    right: 0px;

}

.nav-menu ul{
list-style-type: none;
margin: 0;
padding: 0;
float: right;
display: flex;

}

.nav-menu ul li{
    margin-left: 5px;
    margin-right: 5px;
    
}

.nav menu a:hover{
    color: yellow;
    }

    h1{
        margin-top: 10px;
        color: rgb(95, 10, 10);
   }

   #Titulo {
       margin-top: 30vh;
       position: relative;
   }

   #Titulo h1, #Titulo h2{
       color: white;

   }
 
   h1{
       margin-top: 10px;
       color: #160707;
   }


   .row{
       display: flex;
   }

   .column {
       flex: 50px;
       padding: 20px;
   }

   #nosotros, #objetivos{
       margin: 3% 6% 0px 6%;
   }

   #registros{
       padding-top: 10px;
       margin: 5%;
       background: black;
       color: white;
       font-size:  16px;
   }

   .nav-menu a{
       text-decoration: none;
       color: white;
       font-size: 18px;

   }

   .flecha {
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       top: 50px;

   }

   .mi-flecha{
       width: 2vh;
       height: 2vh;
       border: 0.5vh solid;
       border-color: white transparent transparent;
        transform: rotate(-136deg);

   }

   .flecha-invertida{
       position: absolute;
       animation: slide 4s linear infinite;
   }

   @keyframes slide {
       0%{
           opacity: 0;
           transform: translate(-4vw);
       }
       20% {
        opacity: 1;
        transform: translate(-1vw);

       }
       80%{
        opacity: 0;
        transform: translate(1vw);

       }
       100%{
        opacity: 0;
        transform: translate(4vw);

       }
   }